## Create Heatmaps for Weather Parameters

In [1]:
# Import the dependencies.
# !jupyter nbextension enable --py gmaps
# !jupyter nbextension enable --py widgetsnbextension
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Clyde River,CA,2021-07-24 00:55:51,70.4692,-68.5914,37.63,87,75,14.97
1,1,Atuona,PF,2021-07-24 00:50:57,-9.8000,-139.0333,77.02,78,25,11.14
2,2,Hamilton,US,2021-07-24 00:54:13,39.1834,-84.5333,78.89,77,13,3.62
3,3,Vagay,RU,2021-07-24 00:55:52,57.9375,69.0217,62.92,97,100,4.27
4,4,Talkha,EG,2021-07-24 00:55:52,31.0539,31.3779,72.28,77,0,6.08

In [3]:
# Get data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Create a Maximum Temperature Heatmap

# 1. Configure gmaps to use your Google API key.

gmaps.configure(api_key=g_key)

In [5]:
# 2. Next, create the heatmap for the maximum temperature. The general syntax for creating a heatmap is as follows.

# 1. Assign the locations to an array of latitude and longitude pairs.
    # locations = [latitude, longitude]

# Get the latitude and longitude

locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
    # temperatures = # an array of length equal to the locations array length

# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.

fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Google heatmaps do not plot negative numbers. If you have a maximum temperature that is less than 0 °F, 
# then you will get an InvalidWeightException error for this line of code:
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# To remove the negative temperatures we can use a for loop to iterate through the max_temp and add the 
# temperatures that are greater than 0 °F to a new list

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Now change the following code in the heat_layer:

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

# To look like the following:

heat_layer = gmaps.heatmap_layer(locations, weights=temps)

In [9]:
# Replace temps with our code for the list comprehension so our heat_layer code looks like the following:

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [12]:
# Opción 2. Añadiendo un centro y un nivel de zoom y Juntando los pasos anteriores
 
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Get the latitude and longitude

locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
    # temperatures = # an array of length equal to the locations array length

# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
   # We add a center and zoom level to the gmaps.figure()

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Podemos añadir max_intensity para que cada medida tenga una mejor varianza de gradiente.
# Podemos añadir punto_radio para que cada radio de medición sea mayor.

# Let's modify our gmaps.heat_layer() attribute to 
# heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4) 
# and rerun our code

# Get the latitude and longitude

locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
    # temperatures = # an array of length equal to the locations array length

# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
   # We add a center and zoom level to the gmaps.figure()

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.

heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Create a Percent Humidity Heatmap
# let's create the heatmap for humidity

# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Create a Percent Cloudiness Heatmap

# let's create the heatmap for Cloudiness

# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Create a Wind Speed Heatmap

# let's create the heatmap for Wind Speed

# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Get Vacation Criteria

In [16]:
# To convert the input to a floating-point decimal number, wrap the input() 
# statement with the float() method, like this: float(input())

# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Atuona,PF,2021-07-24 00:50:57,-9.8000,-139.0333,77.02,78,25,11.14
2,2,Hamilton,US,2021-07-24 00:54:13,39.1834,-84.5333,78.89,77,13,3.62
7,7,Samarai,PG,2021-07-24 00:55:53,-10.6167,150.6667,80.74,84,42,9.64
14,14,Panguna,PG,2021-07-24 00:55:55,-6.3164,155.4848,81.70,60,100,2.55
20,20,Hays,US,2021-07-24 00:55:57,30.0502,-98.0336,89.10,60,0,3.00
30,30,Hilo,US,2021-07-24 00:56:00,19.7297,-155.0900,88.29,94,97,3.00
33,33,Praia,CV,2021-07-24 00:54:33,14.9215,-23.5087,75.74,73,75,11.50
34,34,Banda Aceh,ID,2021-07-24 00:56:01,5.5577,95.3222,82.31,76,100,12.59
37,37,Vaini,TO,2021-07-24 00:56:02,-21.2000,-175.2000,80.76,83,40,5.75
38,38,Thinadhoo,MV,2021-07-24 00:56:03,0.5333,72.9333,82.06,77,60,9.78

In [18]:
# Add the following code to a new cell and run the cell to determine if there are any null values.
preferred_cities_df.count()

City_ID       206
City          206
Country       206
Date          206
Lat           206
Lng           206
Max Temp      206
Humidity      206
Cloudiness    206
Wind Speed    206
dtype: int64

In [89]:
# We'll need to create a new DataFrame specifically for the data needed to create a heatmap and pop-up markers
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1       Atuona      PF     77.02  -9.8000 -139.0333
2     Hamilton      US     78.89  39.1834  -84.5333
7      Samarai      PG     80.74 -10.6167  150.6667
14     Panguna      PG     81.70  -6.3164  155.4848
20        Hays      US     89.10  30.0502  -98.0336
30        Hilo      US     88.29  19.7297 -155.0900
33       Praia      CV     75.74  14.9215  -23.5087
34  Banda Aceh      ID     82.31   5.5577   95.3222
37       Vaini      TO     80.76 -21.2000 -175.2000
38   Thinadhoo      MV     82.06   0.5333   72.9333

In [96]:
# Retrieve Hotels from a Nearby Search
# 1. Set the Parameters for a Nearby Search

# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

# Set the Parameters for a Nearby Search
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
}

In [103]:

# Iterate Through hotel_df DataFrame
# We can use the iterrows() function to perform the iteration

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
# Let's modify the last piece of code and make a try-exceptblock to handle the IndexError
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [104]:
hotel_df.count()

City          206
Country       206
Max Temp      206
Lat           206
Lng           206
Hotel Name    206
dtype: int64

In [106]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Atuona,PF,77.02,-9.8000,-139.0333,Villa Enata
2,Hamilton,US,78.89,39.1834,-84.5333,Six Acres Bed & Breakfast
7,Samarai,PG,80.74,-10.6167,150.6667,Nuli Sapi
14,Panguna,PG,81.70,-6.3164,155.4848,
20,Hays,US,89.10,30.0502,-98.0336,Sinya on Lone Man Creek
...,...,...,...,...,...,...
543,Sevierville,US,81.14,35.8681,-83.5618,The Lodge at Five Oaks
546,Yunyang,CN,80.78,33.4474,112.7142,Post & Telecom Hotel
548,Kahului,US,85.26,20.8947,-156.4700,Maui Seaside Hotel
550,Caucaia,BR,80.55,-3.7361,-38.6531,M.O.S. Logística - Filial Fortaleza
552,San-Pedro,CI,75.81,4.7485,-6.6363,Hotel Maria

In [109]:

# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
#Let's add the markers for each city on top of the heatmap.
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [111]:
# Now we can add a pop-up marker for each city that displays the hotel name, city name, country, and maximum temperature.


info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [112]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# En la comprensión de la lista, info_box_template.format(**row) for index, row in hotel_df.iterrows(), 
# iteramos a través de cada "fila" del DataFrame de hotel_df y luego formateamos la info_box_template con 
# los datos que establecimos para rellenar la de cada fila.

In [114]:

# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
#Let's add the markers for each city on top of the heatmap.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))